<html>
    <body>
        <div id="footer" th:fragment="footer">
            <div class="container-fluid piePagina"><!--fixed-bottom-->
                <h5>Desarrollado por Sebastián Farfán</h5>
                <h3>
                    <a href="http://facebook.com/farfan.sebas" class="enlace-personal"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                    <a href="mailto:sebastianfarfan20221@gmail.com" class="enlace-personal"><i class="fas fa-envelope-square"></i></a>
                </h3>

            </div>
        </div>
        
    </body>
</html>